

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


$backdrop: #e1fbff;
$section: #b7f0f6;
$success: #489efb;
$text-color: #000000;

// .bg-light-overwritten {
//     background-color: $tertiary;
// }

$custom-colors: (
    "background": $backdrop,
    "success": $success,
    "text-color": $text-color,
    "section": $section
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";